:root {
  --header-height: 3.75rem;
  --header-padding: 0.75rem 1rem;
  --header-padding-v: 0.75rem;
}

header {
  height: var(--header-height);
  background-color: black;
  padding: var(--header-padding);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.home-link {
  font-size: 1.3rem;
  font-weight: 700;
  -webkit-text-stroke: 2px white;

}

.main-nav {
  height: 100%;
  display: flex;
  gap: 0.8125rem;
}

.nav-element {
  border: 1px solid white;
  width: 4.8125rem;
  /* vertically centers text regardless of element height */
  line-height: calc((var(--header-height) - (var(--header-padding-v) * 2)));
  text-align: center;
  border-radius: 6px;
  font-size: 0.8125rem;
  font-weight: 300;
}

.nav-element:active {
  background-color: white;
  color: black;
}