:root {
  /* accent colors */
  --red: #F23D4C;
  --blue: #553DF2;
  --ligt-blue: #16B4F2;
  --green: #24BF4B;
  --yellow: #F2CB05;
  --br: 6px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}

a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.not-visible {
  height: 0;
  width: 0;
}

.bordered {
  border-radius: var(--br);
  border: 1px solid black;
}

.section {
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 6px;
}

.section-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8125rem;
  background-color: black;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  width: 100%;
  color: white;
  padding: 0.34375rem;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instruction-text {
  max-width: 35ch;
  margin: 1.34rem auto;
  text-align: center;
}