._2048-section {
  --lightBrown: #faf8ef;
  --bgColor: #bbada0;
  --empyTileColor: #cdc0b4;
  --thistr: all 100ms ease-in-out;
}

._2048-header {
  background-color: var(--bgColor);
}

._2048-board-container {
  background-color: var(--bgColor);
  display: grid;
  aspect-ratio: 1;
  gap: 1rem;
  padding: 1rem;
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

._2048-tile {
  position: relative;
  background-color: var(--empyTileColor);
  border-radius: var(--br);
}

._2048-cell {
  position: relative;
  border-radius: var(--br);
  height: 100%;
  width: 100%;
  font-size: calc(min(5vw, 2rem)* 1.5);
  font-weight: 700;
  -webkit-text-stroke: 0.1rem;
}