._2048-board-container {
  background-color: #bbada0;
  display: grid;
  aspect-ratio: 1;
  gap: 1rem;
  padding: 1rem;
}

._2048-tile {
  position: relative;
  background-color: #cdc0b4;
  border-radius: var(--br);
}